.suggest-container{
    margin-top:30px;
    margin-right: 20px;

}
.suggests-title{
    color: grey;
    font-weight: bold;

}

.username-left{
    display:flex;
    align-items: center;
}

.username-info{
    display: flex;
    flex-direction: column;
}

.relation{
    color:grey;
    font-size: 12px;

}

.suggest-username{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top:15px;
}

.follow_button{
    color:#0095f6;
    font-weight:bold;
    background:0;
    border:0;
}

.follow_button:hover{
    color:white;
    cursor: pointer;
}
.username{
    font-weight: 600;
    font-size: 14px;
}

.avatar{
    margin-right:10px;
}