.posts-Container{
    width: 550px;
    margin: 30px 40px 50px 40px;
}

.post-bar{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.post-Author{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bolder;
}

.post-Author span{
    color: grey;
    font-size: 15px;
}

.post-image img{
   width: 100%;
   border-radius: 6px;
   border: 0.6px solid rgba(128,128,128,0.516);
}

/* .post-footer{

} */

.post-icons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.icon-item{
    padding: 7px;
    font-size: 30px;
}
.icon-item:hover{
    cursor: pointer;
}