.authentication{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px 50px;
}
.auth-left{
    flex:0.5;
    text-align: center;
}
.auth-right{
    flex: 0.5;
}

.auth-left img{
    width: 400px;
    margin-top: 40px;
}
.auth-more{
    border: 1px solid grey;
    padding: 20px;
    margin-right:30px;
    margin-left:30px;
    text-align: center;
    margin-top: 15px;
    border-radius: 10px;
}
.auth-more span{
    font-weight: 500;
    font-size: 14px;
}
.auth-more span button{
    background:0;
    color: #0095f6;
    font-weight: bolder;
    border:0;

} 

.auth-more span button:hover{
    cursor: pointer;

}

